 .contenido__bg__image {
    background-image: url('../images/campeonato/pista.jpg');
    background-color: $uoc-corporate;
    padding: 10%;
    margin-bottom: 5%;
  }
  
  article {
    margin: 0 auto;
  }
  
  h3:has(+ p) {
    margin-bottom: .25rem;
  }
  
  :is(section, article) :is(section, article) h2 {
    color: red;
    font-size: 2.5rem;
    margin-right: 10%;
  }