<main id="main" class="mt-5">

    <h1>Participantes</h1>

    <div class="categorias--grid">
      <div class="box">
        <img src="./assets/images/participantes/pedrogl.jpg" class="img-center mb-1" width="150" height="150" alt="Imagen de usuario">
        <h3 class="text-center">Pedro García López</h3>
        <p class="text-justify">Estudiante de ciencias de la salud, entusiasta del ciclismo y el tennis.</p>
      </div>

      <div class="box">
        <img src="./assets/images/participantes/braismb.jpg" class="img-center mb-1" width="150" height="150" alt="Imagen de Brais Martinez ">
        <h3 class="text-center">Brais Martinez Bello</h3>
        <p class="text-justify">Doctorado en filosofia, y categratico de la UOC.</p>
      </div>

      <div class="box">
        <img src="./assets/images/participantes/jesusgd.jpg" class="img-center mb-1" width="150" height="150" alt="Imagen de Jesus Golan">
        <h3 class="text-center">Jesus Golan Dubra</h3>
        <p class="text-justify">Técnico frigorista y amante de los gatos.</p>
      </div>

      <div class="box">
        <img src="./assets/images/participantes/josuecv.jpg" class="img-center mb-1" width="150" height="150" alt="Imagen de Josue Cerqueiro">
        <h3 class="text-center">Josue Cerqueiro Vazquez</h3>
        <p class="text-justify">Estudiante de la informática y apasionado de los deportes de riesgo.</p>
      </div>

      <div class="box">
        <img src="./assets/images/participantes/manuelgb.jpg" class="img-center mb-1" width="150" height="150" alt="Imagen de Manuel Gonzalez">
        <h3 class="text-center">Manuel Gonzalez Blanco</h3>
        <p class="text-justify">Técnico de gestión de residuos, amante de los animales.</p>
      </div>

      <div class="box">
        <img src="./assets/images/participantes/ismaelgv.jpg" class="img-center mb-1" width="150" height="150" alt="Imagen de Pedro Perez">
        <h3 class="text-center">Ismael Garcia Vila</h3>
        <p class="text-justify">Bombero, apasionado de la lectura y el teatro.</p>
      </div>

    </div>

    
  </main>
  