<main id="main" class="mt-5">

  <h1 class="pt-5">UOC Tennis Club</h1>

  <div class="container">
    <div class="id-1">
      <h2>Comienza la liga</h2>

      <p> La Liga de Tenis ha comenzado y está en pleno apogeo. ¡Y la Jornada 2 ha llegado con una dosis extra de intensidad y emoción!</p>

      <p>Después de una primera jornada llena de enfrentamientos electrizantes, los jugadores han demostrado su destreza en la cancha y 
        están listos para superarse a sí mismos. ¿Estás preparado para vivir partidos llenos de rivalidad y con puntos espectaculares? </p>
      
      <p>Sigue la liga con tus amigos y familiares para disfrutar de días llenos de pasión por el tenis. ¡Cada juego cuenta, cada punto importa! 
        No te pierdas la oportunidad de ser testigo de lances increíbles, saques potentes y jugadas estratégicas. </p>
      
      <img src="./assets/images/index/cancha.jpg" class="w-75 img-center" alt="cancha de tennis">

      <p></p><p>¡La emoción está en el aire y tú eres parte de ella!</p>

      <p>¡Únete a nosotros y sé parte de esta experiencia única en la Liga de Tenis! ¡Nos vemos en la cancha! </p>
    </div>
    <div class="id-2">
      <h3>Resultados</h3>

      <table class="table">
        <tbody>
          <tr class="table-secondary">
            <td class="text-center" colspan="5">29/11/2023 - Finalizado</td>
          </tr>
          <tr class="table-success">
            <td>Rodríguez R.</td>
            <td class="text-center">3</td>
            <td class="text-center">4 </td>
            <td class="text-center">4</td>
            <td class="text-center">4</td>
          </tr>
          <tr class="table-danger">
            <td>Golán J.</td>
            <td class="text-center">0</td>
            <td class="text-center">1 </td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <tbody>
          <tr class="table-secondary">
            <td class="text-center" colspan="6">30/11/2023 - Finalizado</td>
          </tr>
          <tr class="table-danger">
            <td>Martínez B.</td>
            <td class="text-center">1</td>
            <td class="text-center">1</td>
            <td class="text-center">5</td>
            <td class="text-center">2</td>
            <td class="text-center">1</td>
          </tr>
          <tr class="table-success">
            <td>García P.</td>
            <td class="text-center">3</td>
            <td class="text-center">6</td>
            <td class="text-center">3</td>
            <td class="text-center">6</td>
            <td class="text-center">6</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="id-4">
      <h3>Pedro Gracía Jugador de la Jornada 2</h3>
      <img src="./assets/images/index/pedro.jpg" class="w-100" alt="Imagen de Pedro García celebrando su victoria">
      <p>Pedro García designado como jugador de la jornada 2. Proclamándose campeón con un resultado de 1 a 3 sets.</p>
    </div>
    <div class="id-3">
      <h2>Clasificación</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col">#</th>
            <th class="col">Nombre</th>
            <th class="col">PJ</th>
            <th class="col">G</th>
            <th class="col">P</th>
            <th class="col">PTS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Ramón Rodríguez Cano</td>
            <td>2</td>
            <td>1 </td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Pedro García Lopez</td>
            <td>2</td>
            <td>1 </td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Brais Martínez Bello</td>
            <td>2</td>
            <td>1 </td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Victor Rodríguez Santos</td>
            <td>2</td>
            <td>1 </td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Manuel Gómez Blanco</td>
            <td>2</td>
            <td>2 </td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Jesús Golán Dubra</td>
            <td>2</td>
            <td>0 </td>
            <td>2</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="id-5">
      <h2>Comienza el Campeonato de Ajedrez: Donde Cada Movimiento Cuenta</h2>

      <div class="d-xs-block d-md-flex">
        <div class="conteiner-left">
          <p>¡Bienvenidos al evento más esperado del año para los amantes del ajedrez! El Campeonato Maestro de Ajedrez abre sus 
            puertas a estrategas y maestros de las 64 casillas para competir en un torneo lleno de astucia y agudeza mental.</p>

          <p>En este emocionante torneo, jugadores de todas partes se enfrentarán en duelos intelectuales, demostrando su habilidad 
            para anticipar cada movimiento del oponente. Desde aperturas ingeniosas hasta finales calculados, cada partida promete 
            ser un despliegue de destrezas tácticas y estrategias maestras.</p>

          <p>¿Tienes lo necesario para superar a tus adversarios y alcanzar la victoria? ¡Prepárate para sumergirte en un mundo 
            donde la mente es el tablero y cada pieza cuenta en la batalla por la supremacía ajedrecística!</p>
        </div>
        <div class="conteiner-right">
          <img src="./assets/images/index/ajedrez.jpg" class="w-100" alt="Imagen de un tablero de ajedrez">
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <a type="button" class=" btn btn-danger">INSCRIBIRME</a>
      </div>
    </div>
  </div>

</main>
