<main id="main" class=" w-75 mt-5 content--center">

    <h1>Galería</h1>

    <p class="carrousel__title text-center carrousel__title__bg mt-3">Encuéntrate en las Fotos de la Jornada 2</p>

    <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  src="./assets/images/galeria/gal1.jpg" class="d-block w-100" alt="Foto 1 de la galeria">
        </div>
        <div class="carousel-item">
          <img  src="./assets/images/galeria/gal2.jpg" class="d-block w-100" alt="Foto 2 de la galeria">
        </div>
        <div class="carousel-item">
          <img  src="./assets/images/galeria/gal3.jpg" class="d-block w-100" alt="Foto 3 de la galeria">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/galeria/gal4.jpg" class="d-block w-100" alt="Foto 4 de la galeria">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </main>
