<footer class="footer--uoc">
    <div class="row bg-white pt-3">
        <div class="col-xs-12 col-md-6">
            <p>Asignatura: Herramientas HTML y CSS II</p>
            <p>PEC2</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <p>Autor: Felipe Bello Santos</p>
            <p>Coreo electrónico: fbellos@uoc.edu</p>
        </div>
        <hr>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-white ">
                    
                <div class="navbar col-xs-12 col-md-3 d-flex justify-content-center container-fluid" >
                    <a class="navbar-brand" href="#">
                        <img src="./assets/images/utc_logo.png" class="footer__logo" alt="UOC Tennis Club logo">
                    </a>
                </div>
                <div class="navbar col-xs-12 col-md-6 mb-3 d-flex justify-content-center container-fluid" id="navbar-footer">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                                <a class="nav-link footer__nav--text" href="./index.html">Inicio</a>
                        </li>
                        <li class="nav-item ">
                                <a class="nav-link footer__nav--text" href="./participantes.html">Participantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer__nav--text" href="./miliga.html">Campeonato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer__nav--text" href="./galeria.html">Galería</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar col-xs-12 col-md-3 d-flex justify-content-center container-fluid" >
                    <i class="fa-brands fa-google mx-3"></i>
                    <i class="fa-brands fa-facebook-f mx-3"></i>
                    <i class="fa-brands fa-twitter mx-3"></i>
                </div>
            </nav>
        </div>
    </div>
    <div class="row bg-uoc">
        <div class="col-xs-12 col-md-3 d-flex justify-content-center align-items-center">
            <img src="./assets/images/uoc_logo.png" class="logo--uoc" alt="UOC logo">
        </div>
        <div class="col-xs-12 col-md-8 footer__text text-xs-center text-md-start">
            <p class="mb-1">This wireframe has been created exclusively for its use within the “HTML and CSS Tools II” course at the UOC's Master Program in Website and Web
                App Development. Its reproduction and other uses are not authorized.</p>
            <p class="mb-1"> &copy; March 2021 - Jordi Tarrida Checa and Universitat Oberta de Catalunya.</p>
        </div>
    </div>
</footer>