<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                     
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button> 
                    <a class="navbar-brand container justify-content-xs-end justify-content-sm-end justify-content-md-end justify-content-lg-start " href="#">
                        <img src="./assets/images/utc_logo.png" class="header__logo" alt="UOC Tennis Club logo">
                    </a>
                    <div class="collapse navbar-collapse mx-3" id="navbar-collapse">
                        <ul class="navbar-nav ml-md-auto">
                            <li class="nav-item active">
                                 <a class="nav-link footer__nav--text" href="./index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link footer__nav--text" href="./participantes.html">Participantes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link footer__nav--text" href="./miliga.html">Campeonato</a>
                           </li>
                           <li class="nav-item">
                                <a class="nav-link footer__nav--text" href="./galeria.html">Galería</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>